body {
  background: black;
  font-family: "Gugi", cursive;
  color: white;
}

.header {
  background-image: url("./images/headerbackground.jpg");
  text-shadow: -1px 0 #66ff66, 0 2px #66ff66;
}

.survey {
  text-shadow: -1px 0 #66ff66, 0 2px #66ff66;
  margin-top: 50px;
}

h4 {
  margin-top: 15px;
}

.button {
  background: #66ff66;
  color: black;
}
.button:hover {
  background: white;
  color: black;
}
